fastapi
uvicorn
python-dotenv
pydantic
pydantic-settings

sqlalchemy
psycopg2-binary

alembic

httpx
requests

python-multipart

passlib[bcrypt]

python-jose[cryptography]

langchain

langgraph

langchain-community

langchain-openai

langchain-groq

langchain-google-genai

faiss-cpu

sentence-transformers

pandas

numpy

scikit-learn

python-multipart

pillow

pypdf

pytest